<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DRP | Auth</title>
    <link rel="stylesheet/less" type="text/css" href="./style.less" />
  </head>
  <body>
    <div id="app">
      <div class="container" v-if="show && !processing">
        <div class="errorMessage" v-if="errorMessage">{{ errorMessage }}</div>
        <div class="login" id="login" v-if="!registering">
          <div class="inputs">
            <div class="group">
              <label>Kullanıcı Adı</label>
              <input v-model="username" type="text" placeholder="Kullanıcı Adı girin..." ref="username" />
            </div>
            <div class="group">
              <label>Şifre</label>
              <input
                v-model="password"
                type="password"
                placeholder="Şifre girin..."
                ref="password"
                v-on:keyup="processLoginEnter"
              />
            </div>
          </div>
          <button class="newUser" @click="toggleMode">Yeni Kullanıcı</button>
          <button class="submit" @click="processRegistration(false)">Giriş Yap</button>
        </div>
        <div class="register" id="register" v-if="registering">
          <div class="inputs">
            <div class="group">
              <label>E-Posta</label>
              <input v-model="email" type="text" placeholder="E-Posta girin..." ref="email" />
            </div>
            <div class="group">
              <label>Kullanıcı Adı</label>
              <input v-model="username" type="text" placeholder="Kullanıcı Adı girin..." ref="username" />
            </div>
            <div class="group">
              <label>Şifre</label>
              <input v-model="password" type="password" placeholder="Şifre girin..." ref="password" />
            </div>
            <div class="group">
              <label>Şifre</label>
              <input
                v-model="password2"
                type="password"
                placeholder="Tekrar şifre girin..."
                ref="password again"
                v-on:keyup="processRegistrationEnter"
              />
            </div>
          </div>
          <button class="existingUser" @click="toggleMode">Mevcut Kullanıcı</button>
          <button class="submit" @click="processRegistration(true)">Kayıt Ol</button>
        </div>
      </div>
      <div class="container" v-if="processing && show">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <script src="../vue.min.js"></script>
    <script src="../less.min.js"></script>
    <script src="./app.js" type="text/javascript"></script>
  </body>
</html>
